<!DOCTYPE html>
<html>
<head>
	<title>Upload Xlsx</title>
</head>
<body>
	<div id="msgs">
		<p id="msg"><%=msg%></p>
	</div>
	<div id="uploadingPage">
		<form action="/putData/upload" enctype='multipart/form-data' method="post">
			<input type="text" name="">
			<input type="file" name="excelFile">
			<input type="submit" name="submit">
		</form>
	</div>
</body>
</html>

/*
name
age
gender
email 
password
address city state
blood group 
phone
last date of disease 
medical clearance file
*/